@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.landing_page {
    height: 90vh;
    
}
header {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 13%;
}

nav li {
    display: inline-block;
    padding: 0px 15px; 

} 

.logo  {
    height: 40px;
    width: 40px;
    
}


.logo img {
    max-width: 100%;
    max-height: 100%;
    
}

li, a, button {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    color: black;
    text-decoration: none;
    list-style: none;
}

.intro {
    height: 78vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 13%;
}

.intro_text > h1 {
    width: 330px;
    font-size: 2.7em;
    font-weight: 500;
    line-height: 55px;
    text-transform: uppercase;
}

span {
    color: orangered;
}

.intro_text > p {
    width: 420px;
    font-size: 1em;
    font-weight: 400;
    line-height: 35px;
    margin: 30px 0px;
}

.intro_img {
    width: 430px;
    height: 600px;
    
}

.intro_img > img {
    max-width: 100%;
    max-height: 100%;
}

.about {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 13%;
}

.about_intro_text h2 {
    text-transform: uppercase;
}
.about_intro_text > p {
    width: 420px;
    font-size: 1em;
    font-weight: 400;
    line-height: 35px;
    margin: 30px 0px;
}

.about_intro_img {
    width: 410px;
    height: 600px;
    
}

.about_intro_img > img {
    max-width: 100%;
    max-height: 100%;
    
}

button {
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    color: white;
    font-weight: 500;
    padding: 8px 18px;
    background:orangered;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.project {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 0px 13%;
    background-color: rgb(235, 233, 233);
}

.project_txt {
    font-weight: 500;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    font-size: 1.2em;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.card {
    width: 300px;
    height: 310px;
    background-color: white;
    padding: 12px 12px;
    border-radius: 7px;
    box-shadow: 0 8px 50px rgba(0,0,0,0.3);
    cursor: pointer;
}
.card_text >h4, p {
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    margin-bottom: 7px;
}
 
.card >img {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 18px;
}

footer {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 13%;
    gap:80px;
}
.box {
    background-image: url(/images/background.png);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.box h1 {
    font-weight: 600;
    letter-spacing: 3px;
    word-spacing: 0.5px;
    font-size: 1.8em;
    color:white;
}


.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.details > p {
    font-weight: 600;
    word-spacing: 0.5px;
    font-size: 0.7em;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.icons img {
    width: 1.2em;
    margin-top: 15px;
}
